@page
@model BackOffice.Pages.Brands.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/form_ticket.css"/>

<h1>Edit Brand</h1>

<hr />

@if (Model.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        <strong>Error:</strong> @Model.ModelState.Values.SelectMany(v => v.Errors).FirstOrDefault()?.ErrorMessage
    </div>
}

<div class="row">
    <div class="col-md-8 mx-auto">
        <form method="post">
            
            @* General Information *@
            <h3>General Information</h3>
            <div class="form-group row justify-content-around">
                @* Brand name *@
                <div class="col-md-4">
                    <label asp-for="Brand.Name" class="control-label"></label>
                    <input asp-for="Brand.Name" class="form-control"/>
                    <span asp-validation-for="Brand.Name" class="text-danger"></span>
                </div>
                
                @* Brand country *@
                <div class="col-md-4">
                    <label asp-for="Brand.Country" class="control-label"></label>
                    <input asp-for="Brand.Country" class="form-control"/>
                    <span asp-validation-for="Brand.Country" class="text-danger"></span>
                </div>
            </div>
            
            <hr/>
            
            @* Ratings *@
            <h3>Ratings</h3>
            <div class="form-group row justify-content-around">
                @* Environmental rating *@
                <div class="col-md-4">
                    <label class="control-label" for="environmental-rating-input">Environmental rating</label>
                    <input asp-for="Brand.EnvironmentRating" id="environmental-rating-input" class="form-control"/>
                    <span asp-validation-for="Brand.EnvironmentRating" class="text-danger"></span>
                </div>
                
                @* Human rating *@
                <div class="col-md-4">
                    <label class="control-label" for="human-rating-input">Human rating</label>
                    <input asp-for="Brand.PeopleRating" id="human-rating-input" class="form-control"/>
                    <span asp-validation-for="Brand.PeopleRating" class="text-danger"></span>
                </div>
                
                @* Animal rating *@
                <div class="col-md-4">
                    <label class="control-label" for="animal-rating-input">Animal rating</label>
                    <input asp-for="Brand.AnimalRating" id="animal-rating-input" class="form-control"/>
                    <span asp-validation-for="Brand.AnimalRating" class="text-danger"></span>
                </div>
            </div>

            @* Rating description *@
            <div class="form-group mt-3">
                <label class="control-label" for="rating-description-input">Rating description</label>
                <textarea asp-for="Brand.RatingDescription" id="rating-description-input" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Brand.RatingDescription" class="text-danger"></span>
            </div>
            
            <hr/>
            
            <h3>Diverse</h3>
            
            @* Categories *@
            <div id="categories-list" class="mt-3"></div>
            <div class="form-group mt-1">
                <label class="control-label" for="categories-input">Categories</label>
                <div class="input-group" id="categories-inputs">
                    @for(var i = 0; i < Model.Brand.Categories.Count; i++)
                    {
                        var i1 = i;
                        <input type="hidden" asp-for="Brand.Categories[i1]" id="category-input-hidden" class="form-control" value="@Model.Brand.Categories[i]"/>
                    }
                    <input class="form-control" id="categories-input" style="max-width: 350px"/>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary ms-3" id="add-category">Add</button>
                    </div>
                </div>
                <span asp-validation-for="Brand.Categories" class="text-danger"></span>
            </div>
            
            @* Ranges *@
            <div id="ranges-list" class="mt-3"></div>
            <div class="form-group mt-1">
                <label class="control-label" for="ranges-input">Ranges</label>
                <div class="input-group" id="ranges-inputs">
                    @for(var i = 0; i < Model.Brand.Ranges.Count; i++)
                    {
                        var i1 = i;
                        <input type="hidden" asp-for="Brand.Ranges[i1]" id="range-input-hidden" class="form-control" value="@Model.Brand.Ranges[i]"/>
                    }
                    <input class="form-control" id="ranges-input" style="max-width: 350px"/>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary ms-3" id="add-range">Add</button>
                    </div>
                </div>
                <span asp-validation-for="Brand.Ranges" class="text-danger"></span>
            </div>
            
            @* Submit Button *@
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary" id="save-button">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/form_ticket.js"></script>
